<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>type</key>
	<integer>2</integer>
	<key>mission</key>
	<dict>
		<key>coin_incre</key>
		<string></string>
	</dict>
	<key>merchandises</key>
	<array>
		<string>coin_incre</string>
		<string>coin_decre</string>
	</array>
</dict>
</plist>
