<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fruit_1</key>
	<dict>
		<key>icon</key>
		<string>1_1_1.png</string>
		<key>level</key>
		<string>1</string>
		<key>value</key>
		<integer>0</integer>
	</dict>
	<key>fruit_2</key>
	<dict>
		<key>icon</key>
		<string>1_1_2.png</string>
		<key>level</key>
		<string>2</string>
		<key>value</key>
		<integer>0</integer>
	</dict>
	<key>fruit_3</key>
	<dict>
		<key>icon</key>
		<string>1_1_3.png</string>
		<key>level</key>
		<string>3</string>
		<key>value</key>
		<integer>400</integer>
	</dict>
	<key>fruit_4</key>
	<dict>
		<key>icon</key>
		<string>1_1_4.png</string>
		<key>level</key>
		<string>4</string>
		<key>value</key>
		<integer>700</integer>
	</dict>
	<key>fruit_5</key>
	<dict>
		<key>icon</key>
		<string>1_1_5.png</string>
		<key>level</key>
		<string>5</string>
		<key>value</key>
		<integer>0</integer>
	</dict>
	<key>vegetable_1</key>
	<dict>
		<key>icon</key>
		<string>2_2_1.png</string>
		<key>level</key>
		<integer>6</integer>
		<key>value</key>
		<integer>1000</integer>
	</dict>
	<key>vegetable_2</key>
	<dict>
		<key>icon</key>
		<string>2_2_2.png</string>
		<key>level</key>
		<integer>7</integer>
		<key>value</key>
		<integer>1000</integer>
	</dict>
	<key>vegetable_3</key>
	<dict>
		<key>icon</key>
		<string>2_2_3.png</string>
		<key>level</key>
		<integer>8</integer>
		<key>value</key>
		<integer>1000</integer>
	</dict>
	<key>vegetable_4</key>
	<dict>
		<key>icon</key>
		<string>2_2_4.png</string>
		<key>level</key>
		<integer>9</integer>
		<key>value</key>
		<integer>1000</integer>
	</dict>
	<key>vegetable_5</key>
	<dict>
		<key>icon</key>
		<string>2_2_5.png</string>
		<key>level</key>
		<integer>10</integer>
		<key>value</key>
		<integer>1000</integer>
	</dict>
	<key>seafood_1</key>
	<dict>
		<key>icon</key>
		<string>3_3_1.png</string>
		<key>level</key>
		<integer>11</integer>
		<key>value</key>
		<integer>1000</integer>
	</dict>
	<key>seafood_2</key>
	<dict>
		<key>icon</key>
		<string>3_3_2.png</string>
		<key>level</key>
		<integer>12</integer>
		<key>value</key>
		<integer>1000</integer>
	</dict>
	<key>seafood_3</key>
	<dict>
		<key>icon</key>
		<string>3_3_3.png</string>
		<key>level</key>
		<integer>13</integer>
		<key>value</key>
		<integer>1000</integer>
	</dict>
	<key>seafood_4</key>
	<dict>
		<key>icon</key>
		<string>3_3_4.png</string>
		<key>level</key>
		<integer>14</integer>
		<key>value</key>
		<integer>1000</integer>
	</dict>
	<key>seafood_5</key>
	<dict>
		<key>icon</key>
		<string>3_3_5.png</string>
		<key>level</key>
		<integer>15</integer>
		<key>value</key>
		<integer>1000</integer>
	</dict>
	<key>snack_1</key>
	<dict>
		<key>icon</key>
		<string>4_4_1.png</string>
		<key>level</key>
		<integer>16</integer>
		<key>value</key>
		<integer>1000</integer>
	</dict>
	<key>snack_2</key>
	<dict>
		<key>icon</key>
		<string>4_4_2.png</string>
		<key>level</key>
		<integer>17</integer>
		<key>value</key>
		<integer>1000</integer>
	</dict>
	<key>snack_3</key>
	<dict>
		<key>icon</key>
		<string>4_4_3.png</string>
		<key>level</key>
		<integer>18</integer>
		<key>value</key>
		<integer>1000</integer>
	</dict>
	<key>snack_4</key>
	<dict>
		<key>icon</key>
		<string>4_4_4.png</string>
		<key>level</key>
		<integer>19</integer>
		<key>value</key>
		<integer>1000</integer>
	</dict>
	<key>snack_5</key>
	<dict>
		<key>icon</key>
		<string>4_4_5.png</string>
		<key>level</key>
		<integer>20</integer>
		<key>value</key>
		<integer>1000</integer>
	</dict>
	<key>beverage_1</key>
	<dict>
		<key>icon</key>
		<string>5_5_1.png</string>
		<key>level</key>
		<integer>21</integer>
		<key>value</key>
		<integer>1000</integer>
	</dict>
	<key>beverage_2</key>
	<dict>
		<key>icon</key>
		<string>5_5_2.png</string>
		<key>level</key>
		<integer>22</integer>
		<key>value</key>
		<integer>1000</integer>
	</dict>
	<key>beverage_3</key>
	<dict>
		<key>icon</key>
		<string>5_5_3.png</string>
		<key>level</key>
		<integer>23</integer>
		<key>value</key>
		<integer>1000</integer>
	</dict>
	<key>beverage_4</key>
	<dict>
		<key>icon</key>
		<string>5_5_4.png</string>
		<key>level</key>
		<integer>24</integer>
		<key>value</key>
		<integer>1000</integer>
	</dict>
	<key>beverage_5</key>
	<dict>
		<key>icon</key>
		<string>5_5_5.png</string>
		<key>level</key>
		<integer>25</integer>
		<key>value</key>
		<integer>1000</integer>
	</dict>
</dict>
</plist>
