<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>merchandises</key>
	<array>
		<string>fruit_cherry</string>
		<string>fruit_banana</string>
		<string>fruit_grape</string>
		<string>fruit_apple</string>
		<string>fruit_kiwi</string>
	</array>
	<key>type</key>
	<integer>1</integer>
	<key>boss</key>
	<string>student</string>
	<key>boss_obstacle</key>
	<string>boss_obstacle_book</string>
	<key>hp</key>
	<integer>1</integer>
</dict>
</plist>
