<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>player_run_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {64, 68}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{64, 68}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{64, 0}, {64, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player_run_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {64, 64}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{64, 64}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{320, 0}, {64, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player_run_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 8}, {64, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{64, 60}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{128, 0}, {64, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player_run_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 6}, {64, 62}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{64, 62}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{192, 0}, {64, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player_run_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {64, 66}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{64, 66}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {64, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player_run_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {64, 68}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{64, 68}</string>
			<key>spriteSourceSize</key>
			<string>{68, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{256, 0}, {64, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5 GM</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 128}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>